:root {
  --background: #e7e7e7;
  --button: #a4b7d460;
  --lightGrey: #8a8989;
  --mainGrey: #717577;
  --darkGrey: ;
}

html {
  background: var(--background);
}

body {
  background: transparent;
  font-family: "Special Elite", cursive;
}

/* Navigation */
ul {
  padding: 0;
}

#nav {
  list-style: none;
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}

.nav-text {
  color: var(--mainGrey);
  margin-left: 2rem;
}

.nav-text:hover {
  text-decoration: none;
  color: rgba(121, 125, 127, 0.575);
}

.nav-text:visited {
  color: var(--mainGrey);
}

.nav-font {
  overflow: hidden;
  white-space: nowrap;
}

/* Main Content */

/* Shop */
.card {
  border-style: none;
  background: transparent;
}

.product-text-details {
  display: none;
  position: absolute;
  top: 37%;
  left: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.3rem;
}

.product-text-sold {
  position: absolute;
  top: 1%;
  right: 25%;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.472);
  border-radius: 4px;
}

.product-image {
  box-shadow: 5px 5px 5px 2px rgb(151, 151, 151);
  width: 350px;
  height: 270px;
  transition: 0.6s;
  opacity: 0.95;
}

.img-container:hover img {
  filter: blur(1.2px) brightness(80%);
}

.img-container:hover :not(img) {
  display: inline-block;
}

.desc-text {
  font-size: 0.9rem;
  color: var(--lightGrey);
}

/* Details page */
.button {
  cursor: pointer;
  border-radius: 4px;
}

button:focus {
  outline: none;
}

.cart-button {
  background-color: var(--button) !important;
  margin-right: 1rem;
}

/* Contact Us page */
.contact-col {
  margin: 2rem auto;
  padding: auto;
  width: 40%;
}

.contact {
  height: 100%;
  width: 100%;
  padding: auto;
}

.contact-photo {
  border-radius: 25%;
}

.card-name {
  font-size: 1.8rem;
}

.card-text {
  font-size: 1rem;
}

.card-text a {
  color: #66696b;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  background: var(--background);
}

.modal-text {
  color: var(--mainGrey);
}

.modal-button {
  background: transparent;
  color: black;
  margin: 0.8rem 0 0 0;
  cursor: pointer;
}

/* Cart */
.cart {
  margin-top: 4rem;
}

/* Responsive sizing */
@media screen and (max-width: 450px) {
  #logo {
    height: 90%;
    width: 90%;
  }
  .nav-text {
    font-size: 3.5vw;
    margin: 0.3rem;
  }
  .shop {
    padding-top: 0 !important;
  }
  .product img {
    height: 90%;
    width: 90%;
  }
  .contact-col {
    width: 80%;
  }
  .card-name {
    font-size: 1.1rem;
  }
  .card-text {
    font-size: 0.7rem;
  }
}
