/* General */
:root {
  --lightBackground: #e7e7e7;
  --darkBackground: #525252;
  --button: #a4b7d460;
  --altButton: #9aa7ba53;
  --lightGrey: #949292;
  --mainGrey: #717577c4;
  --darkGrey: ;
}

body {
  font-family: "Special Elite", cursive;
}

.full-screen {
  margin-top: 4rem;
  min-height: 100vh;
}

/* Light/Dark Mode */
.light-mode {
  background: var(--lightBackground);
}

.dark-mode {
  background: var(--darkBackground);
}

.dark-mode .product-image {
  box-shadow: 5px 5px 5px 2px rgb(50, 50, 50);
}

.dark-mode .detail-image {
  box-shadow: 5px 5px 5px 2px rgb(50, 50, 50);
}

.dark-mode .dark-mode-text {
  color: whitesmoke !important;
}

.dark-mode .dark-mode-text :first-child {
  color: whitesmoke !important;
}

.dark-mode .dark-mode-title {
  color: var(--lightGrey) !important;
}

.dark-mode path {
  stroke: whitesmoke;
}

.dark-mode .svgtext {
  fill: whitesmoke;
}

/* Loading */
.light-mode .loading-page {
  position: fixed;
  background-color: var(--lightBackground) !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.dark-mode .loading-page {
  position: fixed;
  background-color: var(--darkBackground);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.loading-page svg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation */
ul {
  padding: 0;
}

#nav {
  list-style: none;
  display: flex;
  width: 100%;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
}

.nav-text {
  color: var(--mainGrey);
  margin-left: 2rem;
}

.nav-text:hover {
  text-decoration: none;
  color: rgba(121, 125, 127, 0.575);
}

.nav-text:visited {
  color: var(--mainGrey);
}

.nav-font {
  overflow: hidden;
  white-space: nowrap;
}

#nav div i {
  cursor: pointer;
  padding-right: 0.4rem;
}

#logo {
  max-width: 150px;
  max-height: 60px;
}

#loadingLogo #text1024 path:nth-child(1) {
  stroke-dasharray: 169px;
  stroke-dashoffset: 169px;
  animation: line-ani 2s ease forwards;
}
#loadingLogo #text1024 path:nth-child(2) {
  stroke-dasharray: 70px;
  stroke-dashoffset: 70px;
  animation: line-ani 2s ease forwards 0.05s;
}
#loadingLogo #text1024 path:nth-child(3) {
  stroke-dasharray: 70px;
  stroke-dashoffset: 70px;
  animation: line-ani 2s ease forwards 0.1s;
}
#loadingLogo #text1024 path:nth-child(4) {
  stroke-dasharray: 96px;
  stroke-dashoffset: 96px;
  animation: line-ani 2s ease forwards 0.15s;
}
#loadingLogo #text1024 path:nth-child(5) {
  stroke-dasharray: 102px;
  stroke-dashoffset: 102px;
  animation: line-ani 2s ease forwards 0.2s;
}
#loadingLogo #text1024 path:nth-child(6) {
  stroke-dasharray: 70px;
  stroke-dashoffset: 70px;
  animation: line-ani 2s ease forwards 0.25s;
}
#loadingLogo #text1024 path:nth-child(7) {
  stroke-dasharray: 50px;
  stroke-dashoffset: 50px;
  animation: line-ani 2s ease forwards 0.3s;
}
#loadingLogo #text1024 path:nth-child(8) {
  stroke-dasharray: 99px;
  stroke-dashoffset: 99px;
  animation: line-ani 2s ease forwards 0.35s;
}
#loadingLogo #text1024 path:nth-child(9) {
  stroke-dasharray: 44px;
  stroke-dashoffset: 44px;
  animation: line-ani 2s ease forwards 0.4s;
}
#loadingLogo #text1024 path:nth-child(10) {
  stroke-dasharray: 80px;
  stroke-dashoffset: 80px;
  animation: line-ani 2s ease forwards 0.45s;
}
#loadingLogo #text1024 path:nth-child(11) {
  stroke-dasharray: 114px;
  stroke-dashoffset: 114px;
  animation: line-ani 2s ease forwards 0.5;
}

@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

/* Mobile Menu */
.mobile-menu {
  text-align: center;
}

.mobile-menu .link {
  text-decoration: none;
}

.mobile-menu img {
  max-width: 200px;
}

/* Main Content */

/* Shop */
.card {
  border-style: none;
  background: transparent;
}

.product-text-details {
  display: none;
  position: absolute;
  top: 37%;
  left: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.3rem;
}

.product-text-sold {
  position: absolute;
  top: 1%;
  right: 25%;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.472);
  border-radius: 4px;
}

.product-image {
  box-shadow: 5px 5px 5px 2px rgb(151, 151, 151);
  width: 350px;
  height: 270px;
  transition: filter 0.6s;
  opacity: 0.95;
}

.desc-text {
  font-size: 0.9rem;
  color: var(--lightGrey);
}

/* Details page */
.detail-image {
  box-shadow: 5px 5px 5px 2px rgb(151, 151, 151);
}

.button {
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--button);
  margin-top: 15px !important;
}

button:focus {
  outline: none;
}

.cart-button {
  background-color: rgba(155, 200, 218, 0.625) !important;
  margin-right: 1rem;
}

/* Contact Us page */
.contact-col {
  margin: auto;
  padding: auto;
  width: 40%;
  height: 100vh;
}

.contact {
  height: 100%;
  width: 100%;
  padding: auto;
}

.contact-photo {
  border-radius: 25%;
}

.card-name {
  font-size: 1.8rem;
}

.card-text {
  font-size: 1rem;
}

.card-text a {
  color: #66696b;
}

.name {
  display: inline-block;
}

.name::first-letter {
  font-weight: bolder;
}

/* Modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  background: var(--lightBackground);
}

.dark-mode #modal {
  background: var(--darkBackground);
}

.modal-text {
  color: black;
}

.modal-button {
  background: transparent;
  color: black;
  margin: 0.8rem 0 0 0;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

/* Cart */

/* Responsive sizing */
@media screen and (max-width: 450px) {
  #logo {
    height: 90%;
    width: 90%;
  }
  .nav-text {
    font-size: 3.5vw;
    margin: 0.3rem;
  }
  .shop {
    padding-top: 0 !important;
  }
  .product img {
    height: 90%;
    width: 90%;
  }
  .contact-col {
    width: 80%;
  }
  .card-name {
    font-size: 1.1rem;
  }
  .card-text {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1000px) {
  .img-container:hover img {
    filter: blur(1.2px) brightness(80%);
  }

  .img-container:hover :not(img) {
    display: inline-block;
  }

  .cart-item {
    display: flex;
    justify-content: center;
  }

  .cart-item span {
    margin-left: 10px;
  }
  .cart-item-details {
    align-self: center;
  }
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 999px) {
  .mobile-menu {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .mobile-menu img {
    max-width: 150px;
    margin-right: 3rem;
  }

  #nav {
    display: none;
  }
}
