html {
  background: rgb(231, 231, 231);
}

body {
  background: transparent;
  font-family: "Special Elite", cursive;
}

.nav-font {
  overflow: hidden;
  white-space: nowrap;
}

.card {
  border-style: none;
  background: transparent;
}

.product-text {
  display: none;
  position: absolute;
  top: 37%;
  left: 0;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.3rem;
}

.product-image {
  box-shadow: 5px 5px 5px 2px rgb(151, 151, 151);
  width: 350px;
  height: 270px;
  transition: 0.6s;
  opacity: 0.95;
}

.img-container:hover img {
  filter: blur(1.2px) brightness(80%);
}

.img-container:hover :not(img) {
  display: inline-block;
}

.desc-text {
  font-size: 0.9rem;
  color: rgb(133, 133, 133);
}

.button {
  cursor: pointer;
}

button:focus {
  outline: none;
}
